body
{
  background-color: rgb(254, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, a, p
{
  color:rgb(15, 34, 177);
  align-items: center;
}

hr
{
  border: 2px solid rgb(15, 34, 177);
  width: 93%;
  margin: 20px auto;
  border-radius: 6px;
}

h1
{
  font-size: 60px;
}

h2
{
  font-size: 45px;
}

a
{
  font-size: 30px;
}

.all
{
  border: 20px solidrgb(219, 236, 251); 
  background-color: rgb(219, 236, 251);
  border: 20px solid #fefefe; 
  border-radius: 50px;
}

.about_me
{
  display: flex;
}

.title
{
  /*background-color: rgb(219, 236, 251);*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_text
{
  font-size: 28px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: rgb(219, 236, 251);
  border: 20px solid #fefefe; 
  border-radius: 50px;
  line-height: 1.5;
}

img
{
  background-color: rgb(219, 236, 251);
  border: 20px solid #fefefe; 
  border-radius: 50px;
}

.foot
{
  background-color: rgb(219, 236, 251);
  border: 20px solid #fefefe; 
  border-radius: 50px;
  font-size: 10px;
  padding-left: 20px;
}

ul 
{
  list-style-type: none;
  /*background-color: #fefefe;*/
  display:flex;
  justify-content: center;
}

ul li 
{
  float: right;
}

li a 
{
  display: block;
  color: rgb(15, 34, 177);
  padding: 20px 35px;
  text-decoration: none;
}

li a:hover 
{
  background-color: rgb(15, 34, 177);
  border-radius: 20px;
  color: white;
}